# Ignore environment files
.env
*.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Unity temporary and build files
/Library/
/Temp/
/Obj/
/Build/
/Logs/
/UserSettings/
/Packages/
/ProjectSettings/

# Ignore system files
.DS_Store
Thumbs.db